/** Import Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

/** Global style variables **/
:root {
    --black: #1E1D1C;
    --almond: #E9DFD6;
    --magenta: #A44E7B;
    --cadet: #1F253F;
    --munsell: #4092AA;
    --josefin-sans: 'Josefin Sans', sans-serif;
    --yanone-kaffeesatz: 'Yanone Kaffeesatz', sans-serif;
}

body {
    background-color: var(--almond);
}

body p {
    font-family: var(--josefin-sans);
    font-size: 1.1em;
}

/** Navigation **/
nav {
    box-shadow: none;
    background-color: var(--magenta);
}

nav .brand-logo {
    font-family: var(--yanone-kaffeesatz);
    text-transform: uppercase;
    padding: 10px 0 0 15px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 5em;
    color: var(--almond);
}

nav .brand-icon {
    height: 60px;
    width: 60px;
}

nav .nav-title {
    padding: 20px 0 15px 15px;
    font-family: var(--josefin-sans);
    font-size: 1.2em;
    color: var(--almond);
}

nav ul {
    margin: 2em 0.5em 1em 0.5em;
}

nav ul a {
    transition: all 0.1s ease-in-out;
    color: var(--almond);
}

nav ul a:hover {
    background-color: transparent;
    transform: scale(1.3);
}

.sidenav {
    font-family: var(--josefin-sans);
}

.sidenav li a,
.sidenav li a i {
    color: var(--black);
}

/** Hero image **/
div .hero { 
    width: 100%;
    height: 360px;
}

/* Forms */
form label {
    font-family: var(--yanone-kaffeesatz);
    text-transform: uppercase;
    font-weight: 700;
}

form input {
    font-family: var(--josefin-sans);
}

.input-field .prefix.active {
    color: var(--munsell);
}

.input-field input.active {
    border-bottom: 1px solid var(--munsell);
    box-shadow: 0 1px 0 0 var(--munsell);
}

.input-field input.active {
    border-bottom: 1px solid var(--munsell);
    box-shadow: 0 1px 0 0 var(--munsell);
}

/** FAQs **/
.faqs p {
    font-size: 1em;
}

.faqs i {
    color: var(--munsell);
    margin-right: 10px;
}

.faqs li {
    font-family: var(--josefin-sans);
}

.faqs li i {
    color: var(--munsell);
}

/** Statements.html **/
.statements {
    height: 500px;
    overflow-y: scroll;
}

.accessibility li,
.privacy li {
    font-family: var(--josefin-sans);
}

.accessibility li i,
.privacy li i {
    color: var(--munsell);
}

.accessibility a {
    color: var(--munsell);
}

/** Footer **/
footer {
    padding: 70px 20px 10px 20px;
    background-color: var(--magenta);
    color: var(--almond);
}

footer h5 {
    margin-bottom: 0px;
}

footer .footer-social-media i {
    font-size: 2em;
    padding: 0.5em;
    color: var(--almond);
}

footer p {
    margin-top: 0;
    font-family: var(--josefin-sans);
    font-size: 1.1em;
}

footer .fantasy-creature {
    height: 225px;
    width: 225px;
}

footer .row {
    margin-bottom: 0;
}

footer .copyright-statement {
    font-family: var(--josefin-sans);
    padding-top: 1.25em !important;
}

footer .useful-links a {
    color: var(--almond);
    font-family: var(--josefin-sans);
    font-size: 1.1em;
}

/** Decoration **/
.underline {
    width: 150px;
    border: solid var(--magenta);
    margin-bottom: 40px;
}

/** Buttons **/
.btn-large {
    background-color: var(--munsell);
    font-family: var(--josefin-sans);
    box-shadow: none;
    font-size: 1.2em;
    font-weight: 700;
}

.btn-large:hover {
    background-color: var(--cadet);
    box-shadow: none;
}

/** Headers **/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--yanone-kaffeesatz);
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0;
}

h3 {
    font-weight: 700;
    font-size: 2em;
}

h5 {
    font-size: 2.5em;
}

h6 {
    font-size: 1.6em;
    font-weight: 500;
}

