{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block hero %}
<div class="hero">
    <img class="responsive-img" src="{{ url_for('static', filename='imgs/project-banner.png')}}" alt="Website banner collage">
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 center-align">
        <h1>Discover...</h1>
    </div>
    <div class="col s12">
        <form>
            <div class="input-field col s6 offset-s3">
                <i class="fas fa-search prefix"></i>
                <input id="finder-homepage" type="text" class="validate" name="finder-homepage">
                <label for="finder-homepage">Browse all events, groups and members</label>
            </div>
            <div class="col s6 offset-s3 center-align">
                <button class="btn btn-large" type="submit" name="submit">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row tab-wrapper">
    <div class="col s10 offset-s1">
        <ul class="tabs">
            <li class="tab col s4">
                <a href="#" class="active">
                    <h3>Events</h3>
                </a>
            </li>
            <li class="tab col s4">
                <a href="#">
                    <h3>Guilds</h3>
                </a>
            </li>
            <li class="tab col s4">
                <a href="#">
                    <h3>Members</h3>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row" id="browse-events">
    <!--Event cards-->
    <div class="col s10 offset-s1">
        <div class="card horizontal event-card">
            <div class="card-image browse-img">
                <img src="/static/imgs/worldbuilding2.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h2 class="group-name">Event name</h2>
                    <p>Event type</p>
                    <p>Event organiser</p>
                    <p>Event address</p>
                    <p>Event location</p>
                </div>
                <div class="card-action">
                    <div class="row action-wrapper valign-wrapper">
                        <div class="col s6 valign-wrapper">
                            <p><i class="fas fa-user-circle"></i> No. of adventurers</p>
                        </div>
                        <div class="col s6">
                            <a href="#" class="btn join-btn col s12 m6 offset-m6">Attend</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if groups|length > 0 %}
{% for group in groups %}
<div class="row" id="browse-groups">
    <!--Group cards-->
    <div class="col s10 offset-s1">
        <div class="card horizontal group-card">
            <div class="card-image browse-img">
                <!--When groups are created:
                <img src="{{ group.group_cover_img_url }}"
                -->
                <img src="/static/imgs/heroes.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h2 class="group-name">{{ group.group_name }}</h2>
                    <p>Admin: {% set user = users|selectattr("_id", "equalto", group.group_admin )|first %}</p>
                    <p>{{ group.type }}</p>
                    <p>{{ group.group_location }}</p>
                    <p class="truncate">{{ group.group_description }}</p>
                </div>
                <div class="card-action">
                    <div class="row action-wrapper valign-wrapper">
                        <div class="col s6 valign-wrapper">
                            <p><i class="fas fa-user-circle"></i> {{ group.num_of_members|length}} guild members</p>
                        </div>
                        <div class="col s6">
                            <a href="#" class="btn join-btn col s12 m6 offset-m6">Join</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s12 center-align">
        <h3>There's nothing here!</h3>
    </div>
    {% endif %}
</div>

<div class="row" id="browse-members">
    <div class="col s3 offset-s1">
        <!--Member cards-->
        <div class="card member-card">
            <div class="card-image">
                <img src="/static/imgs/profile-avatar.png">
                <span class="card-title member-nickname valign-wrapper">Nickname</span>
                <a class="btn-floating halfway-fab favourite-btn"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}