{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 center-align faqs">
        <h1>Change your settings</h1>
    </div>
</div>
<div class="row">
    <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 center-align edit-page">
        <form method="POST" action="">
            <div class="row">
                <div class="col s10 offset-s1 left-align">
                    <h3>Email <i class="fas fa-at right"></i></h3>
                </div>
                <div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl5 offset-xl1">
                    <input disabled id="current_email" name="current_email" type="text" class="validate" value="">
                    <label for="current_email">Current email</label>
                </div>
                <div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl5">
                    <input id="last_mame" name="last_name" type="text" class="validate" value="">
                    <label for="last_name">Update email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 left-align">
                    <h3>Password <i class="fas fa-lock right"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 left-align">
                    <h3>Account <i class="fas fa-user right"></i></h3>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}