{% extends "base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}

    <!--Profile banner image-->
    <div class="row p-banner" id="bannerImg"></div>
    <!--User info-->
    <div class="p-info">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="col s12 flashes center-align">
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        <div class="row valign-wrapper details">
            <div class="col s12 m12 l2 xl2">
                <img src="{{user.profile_pic_url}}" class="responsive-img col s6 offset-s3 m4 offset-m4 l12 xl12">
            </div>
            <div class="col s12 m12 l7 xl7">
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <h1 class="user-name">{{ first_name }} {{ last_name }}</h1>
                        <p><i class="fas fa-user"></i><span class="info-label">Member since:</span> {{ user_id.generation_time.date().strftime("%dth %B %Y") }}</p>
                        <p><i class="fas fa-map-marker-alt"></i><span class="info-label">Location:</span></p>
                        <p><i class="fas fa-heart"></i><span class="info-label">Interests:</span></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l2 xl2">
                <a href="{{ url_for('edit_profile') }}" class="btn-large col s12 m5 l12 xl12 offset-m1 edit">Edit profile</a>
                <a href="{{ url_for('settings') }}" class="btn-large col s12 m5 l12 xl12 modal-trigger settings">Settings</a>
            </div>
        </div>
    </div>
    <!--User biography and project links-->
    <div class="row">
        <div class="col s12 m12 l6 xl6">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><h2><i class="fas fa-book-open"></i>Biography</h2></div>
                    <div class="collapsible-body">
                        <p class="bio-text"></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6 xl6">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><h2><i class="fas fa-tools"></i>My worlds</h2></div>
                    <div class="collapsible-body">
                        <h6>Share your top 3 projects by URL below:</h6>
                        <p class="url-label">Project 1:<p>
                        <p class="url-label">Project 2:</p>
                        <p class="url-label">Project 3:</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--User groups with pagination (member of)-->
    <div class="groups">
        <div class="row">
            <div class="col s12">
                <h2>Groups</h2>
            </div>
        </div>
    </div>
    <div class="events">
        <div class="row">
            <div class="col s12">
                <h2>Events</h2>
            </div>
        </div>
    </div>
    <div class="following">
        <div class="row">
            <div class="col s12">
                <h2>Following</h2>
            </div>
        </div>
    </div>
    <!--User events with pagination (attending)-->
    <div class="row">

    </div>
    <!--User following with pagination -->
    <div class="row">

    </div>

{% endblock %}