{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block hero %}
<div class="hero">
    <img class="responsive-img" src="{{ url_for('static', filename='imgs/project-banner.png')}}" alt="Website banner collage">
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 center-align">
        <h1>Discover...</h1>
    </div>
    <div class="col s12">
        <form>
            <div class="input-field col s12 l6 offset-l3">
                <i class="fas fa-search prefix"></i>
                <input id="finder-homepage" type="text" class="validate" name="finder-homepage">
                <label for="finder-homepage">Browse all groups and members</label>
            </div>
            <div class="col s12 l6 offset-l3 center-align">
                <button class="btn btn-large" type="submit" name="submit">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row tab-wrapper">
    <div class="col s12 l10 offset-l1">
        <ul class="tabs">
            <li class="tab col s12 m6">
                <a href="#">
                    <h3>Groups</h3>
                </a>
            </li>
            <li class="tab col s12 m6">
                <a href="#">
                    <h3>Members</h3>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row create-wrapper">
    <div class="col s10 offset-s1">
        {% if session.user %}
        <a href="" class="btn-large col s12"><i class="fas fa-users left"></i> Create group</a>
        {% else %}
        {% endif %}
    </div>
</div>

{% if groups|length > 0 %}
{% for group in groups %}
<div class="row" id="browse-groups">
    <!--Group cards-->
    <div class="col s10 offset-s1">
        <div class="card horizontal group-card">
            <div class="card-image browse-img">
                <img src="{{ group.group_cover_img_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    {% if session.user %}
                    <a href="{{ url_for('groups.group_page', group_id=group._id) }}" class="group-link"><h2 class="group-name">{{ group.group_name }}</h2></a>
                    {% else %}
                    <a href="#prompt" class="group-link modal-trigger"><h2 class="group-name">{{ group.group_name }}</h2></a>
                    {% endif %}
                    <p>Admin: {% set admin = users|selectattr("_id", "equalto", group.group_admin )|first %}
                        {{ admin.first_name.capitalize() }} {{admin.last_name.capitalize() }}
                    </p>
                    <p>{{ group.group_location }}, UK</p>
                    <p class="truncate">{{ group.group_description }}</p>
                </div>
                <div class="card-action">
                    <div class="row action-wrapper valign-wrapper">
                        <div class="col s6 valign-wrapper">
                            <p><i class="fas fa-user-circle"></i> {{ group.members|length}} guild members</p>
                        </div>
                        <div class="col s6">
                            {% if session.user %}
                            <a href="{{ url_for('groups.group_page', group_id=group._id) }}" class="btn join-btn col s12 m6 offset-m6">View group</a>
                            {% else %}
                            <a href="#prompt" class="btn join-btn col s12 m6 offset-m6 modal-trigger">View group</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col s12 center-align">
        <h3>There's nothing here!</h3>
    </div>
    {% endif %}
</div>

<div class="row" id="browse-members">
    <div class="col s10 offset-s1">
        <div class="row">
        {% if users|length > 0 %}
        {% for user in users %}
            <div class="col s4">
                <!--Member cards-->
                <div class="card member-card">
                    <div class="card-image">
                        <img src="/static/imgs/profile-avatar.png">
                        {% if session.user %}
                        <a href="{{ url_for('users.get_profile', user_id=user._id) }}"><span class="card-title member-nickname valign-wrapper">{{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }}</span></a>
                        <a class="btn-floating halfway-fab favourite-btn"><i class="fas fa-plus"></i></a>
                        {% else %}
                        <a href="#prompt" class="modal-trigger"><span class="card-title member-nickname valign-wrapper">{{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }}</span></a>
                        <a class="btn-floating halfway-fab favourite-btn"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

<!--Sign-up/log-in modal-->
<div id="prompt" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 center-align">
                <img src="/static/imgs/gandalf.png" class="responsive-img gandalf">
                <h1 class="center">The way is shut</h1>
            </div>
        </div>
        <h3 class="center">Want to explore further?</h3>
        <p class="center">To view, join or attend our group pages or view and follow our members' profiles, you need to be a member with us and logged in.
                Click below to join us, or log-in if you already have an account with us!
        </p>
    </div>
    <div class="modal-footer">
        <div class="row center-align">
            <div class="col s12 m12 l6 xl6">
                <button class="modal-close btn col s12">Join the adventure</a>
            </div>
            <div class="col s12 m12 l6 xl6">
                <a href="" class="modal-close btn col s12">Sign me in</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}