{% extends "base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col s12 center-align faqs">
		<h1>Edit your profile</h1>
	</div>
</div>

<!--Edit profile form-->
<div class="row">
	<div class="col s12 m12 l12 xl12 center-align edit-page">
		<form method="POST" action="{{ url_for('users.edit_profile', user_id=user._id) }}">
			<div class="row">
				<div class="col s10 offset-s1 left-align">
					<h3>Profile decoration <i class="fas fa-paint-roller right"></i></h3>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="profile-pic" name="profile-pic" type="text" class="validate" value="{{ user.profile_pic_url }}">
					<label for="profile-pic">Profile picture (choose a URL)</label>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="banner" name="banner" type="text" class="validate" value="{{ user.user_banner_url }}">
					<label for="banner">Banner image (choose a URL)</label>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1 left-align">
					<h3>Your info <i class="fas fa-question-circle right"></i></h3>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="city" name="city" type="text" class="validate" value="{{ user.user_city }}" required>
					<label for="city">City/town</label>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="country" name="country" type="text" class="validate" value="{{ user.user_location }}" required>
					<label for="country">Country</label>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="nickname" name="nickname" type="text" class="validate" value="{{ user.nickname }}">
					<label for="nickname">Nickname</label>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="interests" name="interests" type="text" class="validate" value="{{ user.user_interests }}" pattern="^[a-zA-z0-9,.'-&]{1,300}$" data-length="300" required>
					<label for="interests">Interests</label>
					<span class="helper-text left-align">(Max. 300 characters)</span>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1 left-align">
					<h3>Your projects <i class="fas fa-tools right"></i></h3>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="link-1" name="link-1" type="text" class="validate" value="{{ user.user_project_1 }}">
					<label for="link-1">Project 1</label>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="link-2" name="link-2" type="text" class="validate" value="{{ user.user_project_2 }}">
					<label for="link-2">Project 2</label>
				</div>
				<div class="input-field col s10 offset-s1 m4 offset-m1 l4 offset-l1 xl4 offset-xl1">
					<input id="link-3" name="link-3" type="text" class="validate" value="{{ user.user_project_3 }}">
					<label for="link-3">Project 3</label>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1 left-align">
					<h3>The hero's journey! <i class="fas fa-book-open right"></i></h3>
				</div>
				<div class="input-field col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1">
					<input id="bio" name="bio" type="text" class="validate" value="{{ user.user_biography }}">
					<label for="bio">Tell us about you</label>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1">
					<button class="btn-large" type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}