{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block content %}

<div class="row">
    <!--Group banner image-->
    <div class="row p-banner" id="bannerImg" style="background: url({{group.group_cover_img_url}}) no-repeat center; background-size: cover;"></div>
</div>
<!--Group info-->
{% with messages = get_flashed_messages() %}
{% if messages %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row profile-flash">
        <div class="col s12 flashes center-align">
            {% for message in messages %}
                <h3>{{ message }} <i class="fas fa-sync-alt" id="refresh-page"></i></h3>
                <hr class="underline">
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endwith %}

{% endif %}
{% endwith %}
<div class="g-info">
    <div class="row valign-wrapper details">
        <div class="col s12 m12 l10 xl10">
            <div class="col s12">
                <h1 class="user-name">{{ group.group_name }}</h1>
                <p><i class="fas fa-user"></i><span class="info-label"> Admin:</span> {{ admin_fname.capitalize() }} {{ admin_lname.capitalize() }}</p>
                <p><i class="fas fa-user"></i><span class="info-label"> Group created:</span> {{ group._id.generation_time.date().strftime("%d %B %Y") }}</p>
                <p class="bottom-p"><i class="fas fa-map-marker-alt"></i><span class="info-label"> Location:</span> {{ group.group_location }}, UK</p>
            </div>
        </div>
        <div class="col s12 m12 l2 xl2 button-wrapper">
            {% if user == admin %}
            <a href="{{ url_for('groups.edit_group', group_id=group._id) }}" class="btn-large col s12 m5 l12 xl12 offset-m1 edit-group">Edit group</a>
            <a href="#delete-confirmation" class="btn-large col s12 m5 l12 xl12 modal-trigger red group-settings modal-trigger">Delete group</a>
            {% elif user != admin %}
                {% if group._id in members_of %}
                <a href="" class="btn-large col s12 m12 l12 xl12 offset-m1 leave-group">Leave</a>
                <a href="" class="btn-large col s12 m12 l12 xl12 join-group message-admin">Message admin</a>
                {% else %}
                <a href="{{ url_for('groups.join_group', group_id=group._id) }}" class="btn-large col s12 m12 l12 xl12 join-group">Join</a>
                <a href="" class="btn-large col s12 m12 l12 xl12 join-group message-admin">Message admin</a>
                {% endif %}
            {% else %}
            <a href="#prompt" class="btn-large col s12 m12 l12 xl12 offset-m1 modal-trigger join-group">Join</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row group-section">
    <div class="col s10 offset-s1">
        <h3>Description <i class="fas fa-question-circle right"></i></h3>
    </div>
    <div class="col s10 offset-s1">
        <p>{{ group.group_description }}</p>
    </div>
</div>
<div class="row group-section">
    <div class="col s10 offset-s1">
        <h3>Guild members ({{ group.members|length }}) <i class="fas fa-users right"></i></h3>
    </div>
    <div class="row">
        <div class="col s10 offset-s1"> 
        {% if members|length > 0 %}
        {% for member in members %}
        <div class="col s12 m6 l3 group-member-card">
            <!--Member cards-->
            <div class="card member-card">
                <div class="card-image">
                    <img src="/static/imgs/profile-avatar.png">
                    <a href="{{ url_for('users.member_profile', user_id=member._id)}}"><span class="card-title member-name valign-wrapper">
                        {{ member.first_name.capitalize() }} {{member.last_name.capitalize() }}
                    </span></a>
                    <a class="btn-floating halfway-fab favourite-btn"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        </div>
    </div>
    <div class="col s12 center-align">
        <img src="/static/imgs/nothing-here.png" height="250" width="200">
        <p class="big-paragraph">There's nothing here! (yet...)</p>
    </div>
    {% endif %}
</div>
<div class="row group-section">
    <div class="row">
        <div class="col s10 offset-s1">
            <h3>Guild chat <i class="fas fa-comments right"></i></h3>
        </div>
    </div>
    <div class="col s12 center-align">
        <img src="/static/imgs/nothing-here-2.png" height="250" width="200">
        <p class="big-paragraph">There's nothing here! (yet...)</p>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <a href="#add-comment" class="btn-large col s12 l4 offset-l4 modal-trigger"><i class="fas fa-plus left"></i> Add comment</a>
        </div>
    </div>
</div>

<!--Sign-up/log-in modal-->
<div id="prompt" class="modal">
    <div class="modal-content">
        <form method="POST" action="">
            <div class="row">
                <div class="col s12 center-align">
                    <img src="/static/imgs/gandalf.png" class="responsive-img gandalf">
                    <h1 class="center">The way is shut</h1>
                </div>
            </div>
            <h3 class="center">Want to explore further?</h3>
            <p class="center">To view, join or attend our events and group pages, you need to be a member with us and logged in.
                Click below to join us, or log-in if you already have an account with us!
            </p>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row center-align">
            <div class="col s12 m12 l6 xl6">
                <button class="modal-close btn col s12">Join the adventure</a>
            </div>
            <div class="col s12 m12 l6 xl6">
                <a href="{{ url_for('auth.log_in') }}" class="modal-close btn col s12">Sign me in</a>
            </div>
        </div>
    </div>
</div>

<div id="add-comment" class="modal">
    <div class="modal-content">
        <form method="POST" action="{{ url_for('groups.add_comment', group_id=group._id) }}">
            <h1 class="center">Add a comment</h1>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-comment-dots prefix"></i>
                    <input id="comment" name="comment" type="text" required></textarea>
                    <label for="comment">Write your comment here...</label>
                </div>
              </div>
              <div class="modal-footer">
                <div class="row">
                    <div class="col s12 right">
                        <button class="btn-large modal-close" type="submit"><i class="fas fa-plus-circle"></i> Add</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="delete-confirmation" class="modal">
    <div class="modal-content">
        <form method="POST" action="{{ url_for('groups.delete_group', group_id=group._id) }}">
            <h1 class="center">Woah, there!</h1>
            <p>Before you make any rash desicions, just know that deleting this group will:</p>
                <ul>
                    <li>Delete all comments from all chats</li>
                    <li>Delete the group and all it's data</li>
                    <li>Remove all members from the group</li>
                    <li>Remove you as a owner</li>
                </ul>
            <hr class="long-underline">
            <h6 class="center">Are you sure you want to continue?</h6>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row center-align">
            <div class="col s12 m12 l6 xl6">
                <button class="modal-close btn col s12">I've changed my mind!</a>
            </div>
            <div class="col s12 m12 l6 xl6">
                <a href="{{ url_for('groups.delete_group', group_id=group._id) }}" class="modal-close btn red col s12">Delete my precious</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}