{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block content %}

<div class="row">
    <!--Group banner image-->
    <div class="row p-banner" id="bannerImg" style="background: url({{group.group_cover_img_url}}) no-repeat center; background-size: cover;"></div>
</div>
<!--Group info-->
{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="row profile-flash">
    <div class="col s12 flashes center-align">
        {% for message in messages %}
            <h3>{{ message }} <i class="fas fa-sync-alt refresh-page"></i></h3>
            <hr class="underline">
        {% endfor %}
    </div>
</div>

{% endif %}
{% endwith %}
<div class="g-info">
    <div class="row valign-wrapper details">
        <div class="col s12 m12 l10 xl10">
            <div class="col s12">
                <h1 class="user-name">{{ group.group_name }}</h1>
                <p><i class="fas fa-user"></i><span class="info-label"> Group created:</span> {{ group._id.generation_time.date().strftime("%d %B %Y") }}</p>
                <p><i class="fas fa-map-marker-alt"></i><span class="info-label"> Location:</span> {{ group.group_location }}, UK</p>
            </div>
        </div>
        <div class="col s12 m12 l2 xl2">
            {% if user == admin %}
            <a href="" class="btn-large col s12 m5 l12 xl12 offset-m1 edit-group">Edit group</a>
            <a href="" class="btn-large col s12 m5 l12 xl12 modal-trigger group-settings">Settings</a>
            {% elif user != admin %}
            <a href="" class="btn-large col s12 m5 l12 xl12 offset-m1 join-group">Join</a>
            {% else %}
            <a href="#prompt" class="btn-large col s12 m5 l12 xl12 offset-m1 modal-trigger join-group">Join</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row group-section">
    <div class="col s10 offset-s1">
        <h3>Description <i class="fas fa-question-circle right"></i></h3>
    </div>
    <div class="col s10 offset-s1">
        <p>{{ group.group_description }}</p>
    </div>
</div>
<div class="row group-section">
    <div class="col s10 offset-s1">
        <h3>Guild members ({{ group.num_of_members|length }}) <i class="fas fa-users right"></i></h3>
    </div>
    {% if users|length > 0 %}
    {% for user in users %}
    <div class="col s3 offset-s1">
        <!--Member cards-->
        <div class="card member-card">
            <div class="card-image">
                <img src="/static/imgs/profile-avatar.png">
                <a href="#"><span class="card-title member-nickname valign-wrapper">Nickname</span></a>
                <a class="btn-floating halfway-fab favourite-btn"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
</div>
<div class="row group-section">
    <div class="col s10 offset-s1">
        <h3>Guild chat <i class="fas fa-comments right"></i></h3>
    </div>
</div>

<!--Sign-up/log-in modal-->
<div id="prompt" class="modal">
    <div class="modal-content">
        <form method="POST" action="">
            <div class="row">
                <div class="col s12 center-align">
                    <img src="/static/imgs/gandalf.png" class="responsive-img gandalf">
                    <h1 class="center">The way is shut</h1>
                </div>
            </div>
            <h3 class="center">Want to explore further?</h3>
            <p class="center">To view, join or attend our events and group pages, you need to be a member with us and logged in.
                Click below to join us, or log-in if you already have an account with us!
            </p>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row center-align">
            <div class="col s12 m12 l6 xl6">
                <button class="modal-close btn col s12">Join the adventure</a>
            </div>
            <div class="col s12 m12 l6 xl6">
                <a href="" class="modal-close btn col s12">Sign me in</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}