{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block hero %}
<div class="hero">
    <img class="responsive-img" src="{{ url_for('static', filename='imgs/project-banner.png')}}" alt="Website banner collage">
</div>
{% endblock %}

{% block content %}
<div class="row title-wrapper">
    <div class="col s12 center-align">
        <h1 class="page-header">Welcome to <span class="home-title">Worldsmiths!</span></h1>
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l6 xl6 offset-xl3 center-align">
        <p class="big-paragraph">
            Writers, game designers, dungeon masters, daydreamers... the list goes on. To join
            Worldsmiths, a love and passion of <span class="home-title">worldbuilding</span> is all that's needed.
        </p>
        {% if session.user %}
        <a href="{{ url_for('users.get_profile') }}" target="_self" class="btn-large">Your profile</a>
        {% else %}
        <a href="{{ url_for('auth.sign_up') }}" target="_self" class="btn-large">Join the quest!</a>
        {% endif %}
    </div>
</div>
<div class="row card-wrapper">
    <div class="col s12 m12 l4 xl4">
        <div class="card-panel home-card">
            <div class="row">
                <div class="col s12 center-align">
                    <i class="fas fa-tools fa-3x"></i>
                </div>
                <div class="col s12 center-align">
                    <h2>Build</h2>
                </div>
                <div class="col s12 center-align">
                    <p class="big-paragraph">
                        Build your Worldsmith's profile and showcase your stories, portfilio and worlds to share with other 
                        worldsmiths members
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card-panel home-card">
            <div class="row">
                <div class="col s12 center-align">
                    <i class="fas fa-users fa-3x"></i>
                </div>
                <div class="col s12 center-align">
                    <h2>Connect</h2>
                </div>
                <div class="col s12 center-align">
                    <p class="big-paragraph">
                        Join and create groups for specific worldbuilding genres, to discuss certain topics
                        or to simply shoot the breeze
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 xl4">
        <div class="card-panel home-card">
            <div class="row">
                <div class="col s12 center-align">
                    <i class="far fa-handshake fa-3x"></i>
                </div>
                <div class="col s12 center-align">
                    <h2>Meet</h2>
                </div>
                <div class="col s12 center-align">
                    <p class="big-paragraph">
                        Organise events and socials to meet with other worldbuilders - don't forget to watch
                        out for Worldsmith's speical events that anyone can attend!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row search-wrapper">
    <div class="col s12 center-align">
        <h2>Begin your adventure...</h2>
    </div>
    <div class="col s12">
        <form>
            <div class="input-field col s6 offset-s3">
                <i class="fas fa-search prefix"></i>
                <input id="finder-homepage" type="text" class="validate" name="finder-homepage">
                <label for="finder-homepage">search for groups, events and members...</label>
            </div>
            <div class="col s6 offset-s3 center-align">
                <button class="btn btn-large" type="submit" name="submit">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row header-wrapper">
    <div class="col s12 center-align">
        <h2>Upcoming events</h2>
    </div>
</div>
<div class="row events-wrapper">
    <!--Beginning of carousel-->
    <div class="col s12 carousel-wrapper">
        <div class="carousel" data-flickity='{ "draggable": false }'>
            <!--Cell 1-->
            <div class="carousel-cell">
                <div class="card events-card">
                    <div class="row event-time-wrapper">
                        <div class="col s12 center-align">
                            <h3 class="big-paragraph">Time and date</h3>
                        </div>
                    </div>
                    <div class="card-image events-card-img">
                      <img src="/static/imgs/worldbuilding2.jpg">
                      <a class="btn-floating halfway-fab waves-effect waves-light favourite-btn"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-content">
                        <strong><p class="big-paragraph">Event name</p></strong>
                        <p>Event organiser</p>
                        <p>Event type</p>
                        <p>Location</p>
                        <p>Address</p>
                    </div>
                    <div class="card-action events-card-action">
                        <div class="row">
                            <div class="col s12">
                                <p><i class="fas fa-user-circle"></i> No. of attendees</p>
                            </div>
                            <div class="col s10 offset-s1 event-btns">
                                {% if session.user %}
                                <a href="#" class="btn event-btn col s12 modal-trigger">View event</a>
                                {% else %}
                                <a href="#prompt" class="btn event-btn col s12 modal-trigger">View event</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Cell 2-->
            <div class="carousel-cell">
                <div class="card events-card">
                    <div class="row event-time-wrapper">
                        <div class="col s12 center-align">
                            <h3 class="big-paragraph">Time and date</h3>
                        </div>
                    </div>
                    <div class="card-image events-card-img">
                      <img src="/static/imgs/worldbuilding2.jpg">
                      <a class="btn-floating halfway-fab waves-effect waves-light favourite-btn"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-content">
                        <strong><p class="big-paragraph">Event name</p></strong>
                        <p>Event organiser</p>
                        <p>Event type</p>
                        <p>Location</p>
                        <p>Address</p>
                    </div>
                    <div class="card-action events-card-action">
                        <div class="row">
                            <div class="col s12">
                                <p><i class="fas fa-user-circle"></i> No. of attendees</p>
                            </div>
                            <div class="col s10 offset-s1 event-btns">
                                {% if session.user %}
                                <a href="#" class="btn event-btn col s12 modal-trigger">View event</a>
                                {% else %}
                                <a href="#prompt" class="btn event-btn col s12 modal-trigger">View event</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Cell 3-->
            <div class="carousel-cell">
                <div class="card events-card">
                    <div class="row event-time-wrapper">
                        <div class="col s12 center-align">
                            <h3 class="big-paragraph">Time and date</h3>
                        </div>
                    </div>
                    <div class="card-image events-card-img">
                      <img src="/static/imgs/worldbuilding2.jpg">
                      <a class="btn-floating halfway-fab waves-effect waves-light favourite-btn"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-content">
                        <strong><p class="big-paragraph">Event name</p></strong>
                        <p>Event organiser</p>
                        <p>Event type</p>
                        <p>Location</p>
                        <p>Address</p>
                    </div>
                    <div class="card-action events-card-action">
                        <div class="row">
                            <div class="col s12">
                                <p><i class="fas fa-user-circle"></i> No. of attendees</p>
                            </div>
                            <div class="col s10 offset-s1 event-btns">
                                {% if session.user %}
                                <a href="#" class="btn event-btn col s12 modal-trigger">View event</a>
                                {% else %}
                                <a href="#prompt" class="btn event-btn col s12 modal-trigger">View event</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 all-events-link center-align">
        <a href="{{ url_for('main.browse_all') }}" class="big-paragraph">Browse all</a>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <img src="{{ url_for('static', filename='icons/book-pink.png')}}" class="homepage-icon" alt="Globe on top of a book">
        <h2>We are recommended by...</h2>
        <hr class="long-underline">
    </div>
</div>
<div class="row center-align">
    <div class="col s6 m4 l2 xl2">
        <img src="/static/imgs/artifexian-logo.jpg" class="responsive-img homepage-img" alt="Artifexian logo">
    </div>
    <div class="col s6 m4 l2 xl2">
        <img src="/static/imgs/hello-future-me-logo.jfif" class="responsive-img homepage-img" alt="Hello Future Me logo">
    </div>
    <div class="col s6 m4 l2 xl2">
        <img src="/static/imgs/mythic-scribes-logo.png" class="responsive-img homepage-img" alt="Mythic Scribes logo">
    </div>
    <div class="col s6 m4 l2 xl2">
        <img src="/static/imgs/shadiversity-logo.jpg" class="responsive-img homepage-img" alt="Shadiversity logo">
    </div>
    <div class="col s6 m4 l2 xl2">
        <img src="/static/imgs/world-anvil-logo.jpg" class="responsive-img homepage-img" alt="WorldAnvil logo">
    </div>
    <div class="col s6 m4 l2 xl2">
        <img src="/static/imgs/worldbuilding-magazine-logo.jpg" class="responsive-img homepage-img" alt="Worldbuilding Magazine logo">
    </div>
</div>

<!--Sign-up/log-in modal-->
<div id="prompt" class="modal">
    <div class="modal-content">
        <form method="POST" action="">
            <div class="row">
                <div class="col s12 center-align">
                    <img src="/static/imgs/gandalf.png" class="responsive-img gandalf">
                    <h1 class="center">The way is shut</h1>
                </div>
            </div>
            <h3 class="center">Want to explore further?</h3>
            <p class="center">To view, join or attend our events and group pages, you need to be a member with us and logged in.
                Click below to join us, or log-in if you already have an account with us!
            </p>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row center-align">
            <div class="col s12 m12 l6 xl6">
                <button class="modal-close btn col s12">Join the adventure</a>
            </div>
            <div class="col s12 m12 l6 xl6">
                <a href="" class="modal-close btn col s12">Sign me in</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}