{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block hero %}
<div class="hero">
	<img class="responsive-img" src="{{ url_for('static', filename='imgs/project-banner.png')}}">
</div>
{% endblock %}

{% block content %}
<div class="row center-align">
	<div class="col s12">
		<h1>Welcome back, traveller...</h1>
	</div>
</div>

<!--Flash message-->
<div class="row log-in">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="col s12 flashes center-align">
		{% for message in messages %}
		<h3>{{ message }}</h3>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}
</div>

<!--Log in form-->
<div class="row">
	<form method="POST" action="{{ url_for('users.log_in') }}" class="col s11 offset-s1 m11 offset-m1 l7 offset-l3 xl7 offset-xl3">
		<div class="row">
			<div class="input-field col s10">
				<i class="fas fa-at prefix"></i>
				<input id="email" type="email" class="validate" name="email" required>
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10">
				<i class="visibility toggle-password fas fa-lock prefix" data-target="password"></i>
				<input id="password" type="password" class="validate" name="password" minlength="8" maxlength="16" pattern="^[a-zA-z0-9!#*%]{8,16}$" required>
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="col s11 center-align">
				<button class="btn-large" type="submit" name="action">Submit</button>
			</div>
		</div>
		<div class="row">
			<div class="col s11 center-align">
				<p><a href="#reset-password" class="modal-trigger" data-target="reset-password">Help, I can't speak "friend" and enter!</a></p>
				<p>Want to start your adventure?<a href="{{ url_for('users.sign_up') }}" target="_self"> Sign up here.</a></p>
			</div>
		</div>
	</form>
</div>

<!--Reset password modal-->
<div id="reset-password" class="modal">
	<div class="modal-content">
		<form method="POST" action="{{ url_for('users.reset_password') }}">
			<h1 class="center">Panic not, we can sort this</h1>
			<p class="center">Please enter your email address to recieve your reset link:</p>
			<div class="row">
				<div class="col s12 input-field">
					<i class="fas fa-at prefix"></i>
					<input id="reset-input" type="text" class="validate reset" name="reset-input" required>
					<label for="reset-input">Enter your email</label>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="row center-align">
			<div class="col s12 m12 l6 xl6">
				<button class="modal-close btn col s12">Nevermind!</a>
			</div>
			<div class="col s12 m12 l6 xl6">
				<a href="{{ url_for('users.reset_password') }}" class="modal-close btn col s12">Send me a link</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}