{% extends "base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col s12 center-align faqs">
		<h1>Change your settings</h1>
	</div>
</div>

<!--Flash message-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row profile-flash">
	<div class="col s12 flashes center-align">
		{% for message in messages %}
		<h3>{{ message }}</h3>
		<hr class="underline">
		{% endfor %}
	</div>
</div>
{% endif %}
{% endwith %}

<!--Change settings forms-->
<div class="row">
	<div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 center-align edit-page">
        <!--Email-->
		<form method="POST" action="{{ url_for('users.edit_email', user_id=user._id) }}">
			<div class="row">
				<div class="col s10 offset-s1 left-align">
					<h3>Email <i class="fas fa-at right"></i></h3>
				</div>
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 offset-l1 xl5 offset-xl1">
					<input disabled id="current-email" name="current-email" type="text" class="validate" value="{{ user.email }}">
					<label for="current-email">Current email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 offset-l1 xl5 offset-xl1">
					<input id="new-email" name="new-email" type="text" class="validate" required>
					<label for="new-email">New email</label>
				</div>
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 xl5">
					<input id="confirm-email" name="confirm-email" type="text" class="validate" required>
					<label for="confirm-email">Confirm email</label>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1">
					<button class="btn-large" type="submit">Save</button>
				</div>
			</div>
		</form>
        <!--Password-->
		<form method="POST" action="{{ url_for('users.edit_password', user_id=user._id) }}">
			<div class="row">
				<div class="col s10 offset-s1 left-align">
					<h3>Password <i class="fas fa-lock right"></i></h3>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 offset-l1 xl5 offset-xl1">
					<i class="visibility toggle-password fas fa-lock prefix" data-target="new-password"></i>
					<input id="new-password" type="password" class="validate pwd-input" name="new-password" minlength="8" maxlength="16" pattern="^[a-zA-z0-9!#*%]{8,16}$" required>
					<label for="new-password">New password</label>
					<span class="helper-text left-align">Password must be between 8 and 16 characters and must include a number and at least one of the following: ! # * %</span>
				</div>
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 l5">
					<i class="visibility toggle-password fas fa-lock prefix" data-target="confirm-password"></i>
					<input id="confirm-password" type="password" class="validate pwd-input" name="confirm-password" minlength="8" maxlength="16" pattern="^[a-zA-z0-9!#*%]{8,16}$" required>
					<label for="confirm-password">Confirm password</label>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1">
					<button class="btn-large" type="submit">Save</button>
				</div>
			</div>
		</form>
        <!--Account-->
		<form method="POST" action="{{ url_for('users.edit_account', user_id=user._id) }}">
			<div class="row">
				<div class="col s10 offset-s1 left-align">
					<h3>Account <i class="fas fa-user right"></i></h3>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 offset-l1 xl5 offset-xl1">
					<input disabled id="current-name" name="current-name" type="text" class="validate" value="{{ user.first_name }} {{ user.last_name }}">
					<label for="current-name">Current account name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 offset-l1 xl5 offset-xl1">
					<input id="new-fname" name="new-fname" type="text" class="validate" required>
					<label for="new-fname">Change first name</label>
				</div>
				<div class="input-field col s10 offset-s1 m10 offset-m1 l5 offset-l1 xl5">
					<input id="new-lname" name="new-lname" type="text" class="validate" required>
					<label for="new-lname">Change last name</label>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1">
					<button class="btn-large" type="submit">Save</button>
				</div>
			</div>
		</form>
        <!--Delete account-->
		<div class="row">
			<div class="col s10 offset-s1">
				<button class="btn-large red delete-btn modal-trigger" data-target="delete-confirmation">Delete account</button>
			</div>
		</div>
	</div>
</div>

<!--Deletion modal-->
<div id="delete-confirmation" class="modal">
	<div class="modal-content">
		<form method="POST" action="{{ url_for('users.delete_account', user_id=user._id) }}">
			<h1 class="center">Woah, there!</h1>
			<p>Before you make any rash desicions, just know that deleting your account will:</p>
			<ul>
				<li>Delete any groups and events you own or organise</li>
				<li>Delete your comments from all chats</li>
				<li>Delete your profile and all personal data</li>
				<li>Remove you from any group or event you are part of</li>
				<li>Remove you as a follower</li>
			</ul>
			<hr class="long-underline">
			<h6 class="center">Are you sure you want to continue?</h6>
		</form>
	</div>
	<div class="modal-footer">
		<div class="row center-align">
			<div class="col s12 m12 l6 xl6">
				<button class="modal-close btn col s12">I've changed my mind!</a>
			</div>
			<div class="col s12 m12 l6 xl6">
				<a href="{{ url_for('users.delete_account', user_id=user._id) }}" class="modal-close btn red col s12">Delete my precious</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}