{% extends "base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block hero %}
<div class="hero">
    <img class="responsive-img" src="{{ url_for('static', filename='imgs/project-banner.png')}}">
</div>
{% endblock %}

{% block content %}

<div class="row center-align">
    <div class="col s12">
        <h1>Join the adventure!</h1>
    </div>
</div>
<!--Sign up form-->
<div class="row sign-up">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="col s4 offset-s4 flashes center-align">
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('sign_up') }}" class="col s11 offset-s1 m11 offset-m1 l7 offset-l3 xl7 offset-xl3">
        <div class="row">
            <div class="input-field col s11 m5 l5 x5">
                <i class="fas fa-user prefix"></i>
                <input id="fname" type="text" class="validate" name="fname" minlength="1" maxlength="40" pattern="^[a-zA-z0-9,.'-]{1,40}$" required>
                <label for="fname">First name</label>
            </div>
            <div class="input-field col s11 m5 offset-m1 l5 offset-l1 xl5 offset-xl1">
                <i class="fas fa-user-friends prefix"></i>
                <input id="lname" type="text" class="validate" name="lname" minlength="1" maxlength="40" pattern="^[a-zA-z0-9,.'-]{1,40}$" required>
                <label for="lname">Last name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s11">
                <i class="fas fa-at prefix"></i>
                <input id="email" type="email" class="validate" name="email" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s11">
                <i class="visibility toggle-password fas fa-lock prefix" data-target="password"></i>
                <input id="password" type="password" class="validate" name="password" minlength="8" maxlength="16" pattern="^[a-zA-z0-9!#*%]{8,16}$" required>
                <label for="password">Create password</label>
                <span class="helper-text">Password must be between 8 and 16 characters and must include a number and at least one of the following: ! # * %</span>
            </div>
        </div>
        <div class="row">
            <div class="col s11 center-align">
                <button class="btn-large" type="submit" name="action">Create account</button>
            </div>
        </div>
        <div class="row">
            <div class="col s11 center-align">
                <p>Already part of the crew? <a href="{{ url_for('log_in') }}" target="_self">Come on in.</a></p>
            </div>
        </div>
    </form>
</div>

{% endblock %}