{% extends "base.html" %} 

{% block page_title %}{{ page_title }}{% endblock %} 

{% block hero %}
<div class="hero">
    <img class="responsive-img" src="{{ url_for('static', filename='imgs/project-banner.png')}}">
</div>
{% endblock %} 

{% block content %}
<div class="row center-align">
    <div class="col s12">
        <h1>Hello, {{ first_name }}</h1>
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l3 xl4 offset-xl4 center align">
        <p class="big-paragraph">Welcome to Worldsmiths. We are the biggest platform for UK worldbuilders on the net, dedicated to bringing together our amazing community.</p>
        <hr class="long-underline">
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l3 xl4 offset-xl4 center align">
        <p class="little-header">Where do you want to start?</p>
    </div>
</div>
<div class="row welcome-links">
    <div class="row">
        <div class="col s12">
            <div class="row center-align welcome-link-wrapper">
                <div class="col s12 m5 offset-m1 l4 offset-l2 xl4 offset-xl2 welcome-link">
                <a href="{{ url_for('main.homepage') }}" class="btn-large col s12">Homepage</a>
            </div>
            <div class="col s12 m5 l4 xl4">
                <a href="{{ url_for('users.get_profile') }}" target="_self" class="btn-large col s12 welcome-link">My profile</a>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12 m5 offset-m1 l4 offset-l2 xl4 offset-xl2">
                <a href="{{ url_for('main.browse_all') }}" class="btn-large col s12 welcome-link">Browse events & groups</a>
            </div>
            <div class="col s12 m5 l4 xl4">
                <a href="{{ url_for('main.contact') }}" target="_self" class="btn-large col s12 welcome-link">Contact us</a>
            </div>
        </div>
    </div>
</div>
<div class="row center-align socials-wrapper">
    <div class="col s12">
        <h3>Join our other online communities!</h3>
    </div>
    <div class="col s12 m4 offset-m4 l4 offset-l4 xl-4 offset-xl4 socials-links socials">
        <a href="https://discord.com/" target="_blank" aria-label="Discord">
            <i class="fab fa-discord fa-3x"></i>
        </a>
        <a href="https://www.reddit.com/" target="_blank" aria-label="Reddit">
            <i class="fab fa-reddit fa-3x"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter fa-3x"></i>
        </a>
    </div>
</div>
<div class="row center-align patreon">
    <div class="col s12">
        <h3>Toss a coin to your developers...</h3>
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2 xl8 offset-xl2 center align">
        <p class="big-paragraph">It is thanks to our wonderful community (including you!) that this project is up and running. We rely 100% on volunteers and collaborations between our very talented development team and experts in the field, but every little donation from our members and community makes a world of difference and allows us to bring you new and exciting features!</p>
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 center aligns support-us">
        <p class="little-header">Support our small, but growing, business on Patreon below</p>
    </div>
    <div class="col s12 socials">
        <a href="https://www.patreon.com/en-GB" target="_blank" aria-label="Patreon">
            <i class="fas fa-hand-holding-heart fa-4x"></i>
        </a>
    </div>
</div>
{% endblock %}