{% extends "base.html" %} 

{% block page_title %}{% endblock %} 

{% block hero %}
<div class="hero">
    <img class="responsive-img" src="{{ url_for('static', filename='imgs/project-banner.png')}}" alt="Worldsmiths banner img">
</div>
{% endblock %} 

{% block content %}
<!--Flash messages-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row welcome-flash">
	<div class="col s12 flashes center-align">
		{% for message in messages %}
		<h3>{{ message }} <i class="fas fa-sync-alt" id="refresh-page"></i></h3>
		<hr class="underline">
		{% endfor %}
	</div>
</div>
{% endif %}
{% endwith %}

<div class="row center-align">
    <div class="col s12">
        <h1>Hello, {{ first_name }}</h1>
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l3 xl4 offset-xl4 center align">
        <p class="big-paragraph">Welcome to Worldsmiths. We are the biggest platform for UK worldbuilders on the net, dedicated to bringing together our amazing community.</p>
        <hr class="long-underline">
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l3 xl4 offset-xl4 center align">
        <p class="little-header">Where do you want to start?</p>
    </div>
</div>
<div class="row welcome-links">
    <div class="row">
        <div class="col s12">
            <div class="row center-align welcome-link-wrapper">
                <div class="col s12 m5 offset-m1 l4 offset-l2 xl4 offset-xl2 welcome-link">
                <a href="{{ url_for('main.homepage') }}" class="btn-large col s12">Homepage</a>
            </div>
            <div class="col s12 m5 l4 xl4">
                <a href="{{ url_for('users.get_profile') }}" target="_self" class="btn-large col s12 welcome-link">My profile</a>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12 m5 offset-m1 l4 offset-l2 xl4 offset-xl2">
                <a href="{{ url_for('main.browse_all') }}" class="btn-large col s12 welcome-link">Browse events & groups</a>
            </div>
            <div class="col s12 m5 l4 xl4">
                <a href="{{ url_for('main.contact') }}" target="_self" class="btn-large col s12 welcome-link">Contact us</a>
            </div>
        </div>
    </div>
</div>
<div class="row center-align socials-wrapper">
    <div class="col s12">
        <h3>Join our other online communities!</h3>
    </div>
    <div class="col s12 m4 offset-m4 l4 offset-l4 xl-4 offset-xl4 socials-links socials">
        <a href="https://discord.com/" target="_blank" aria-label="Discord" rel="noreferrer">
            <i class="fab fa-discord fa-3x"></i>
        </a>
        <a href="https://www.reddit.com/" target="_blank" aria-label="Reddit" rel="noreferrer">
            <i class="fab fa-reddit fa-3x"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram" rel="noreferrer">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" aria-label="Twitter" rel="noreferrer">
            <i class="fab fa-twitter fa-3x"></i>
        </a>
    </div>
</div>
<div class="row center-align patreon">
    <div class="col s12">
        <h3>Toss a coin to your developers...</h3>
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2 xl8 offset-xl2 center align">
        <p class="big-paragraph">It is thanks to our wonderful community (including you!) that this project is up and running. We rely 100% on volunteers and collaborations between our very talented development team and experts in the field, but every little donation from our members and community makes a world of difference and allows us to bring you new and exciting features!</p>
    </div>
    <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 center aligns support-us">
        <p class="little-header">Support our small, but growing, business on Patreon below</p>
    </div>
    <div class="col s12 socials">
        <a href="https://www.patreon.com/en-GB" target="_blank" aria-label="Patreon" rel="noreferrer">
            <i class="fas fa-hand-holding-heart fa-4x"></i>
        </a>
    </div>
</div>

{% if new_user in comp_group.members %}
{% else %}
<!--Join new members group-->
<div id="new-member" class="modal">
	<div class="modal-content">
		<div class="row">
			<div class="col s12 center-align">
				<h2 class="center">Hold your horses, captain...</h2>
			</div>
		</div>
		<p class="center">Before you go galavanting off, please join and take the time to look around our New Members group.
            It has all the information you need about this site, and gives you a chance to meet some other members right away!
		</p>
	</div>
    <div class="col s10 offset-s1">
		<div class="card horizontal group-card">
			<div class="card-image browse-img">
				<img src="{{ comp_group.group_cover_img_url }}" alt="{{ comp_group.group_name }}'s cover img">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<h3 class="group-name">{{ comp_group.group_name }}</h3>
                    {% set admin = users|selectattr("_id", "equalto", comp_group.group_admin )|first %}
                    <p><span class="info-label">Admin:</span> {{ admin.first_name.capitalize() }} {{ admin.last_name.capitalize() }}</p>
				</div>
                <div class="secondary-content welcome-card">
                    <div class="row">
                        <div class="col s12 l6">
                            <p class="welcome-members valign-wrapper"><i class="fas fa-user-circle left fa-2x"></i> {{ comp_group.members|length }} members</p>
                        </div>
                        <div class="col s12 l5">
                            <a href="{{ url_for('users.comp_group', first_name=first_name) }}" class="btn comp-group col s10 offset-s1 modal-close"><i class="fas fa-plus left"></i> Join</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
</div>
{% endif %}

{% endblock %}